
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/login" class="brand-logo"><img src="/assets/cap-logo.png" style="width: 170px; margin-top:10px;"/></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/cliente" routerLinkActive="active">Cadastrar Cliente</a></li>
        <li><a routerLink="/perfil" routerLinkActive="active">Cliente</a></li>
        <li><a routerLink="/conta" routerLinkActive="active">Conta</a></li>
        <li><a routerLink="/dados-conta" routerLinkActive="active">Dados Conta</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>