
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="center">
        <li><a routerLink="/cliente" routerLinkActive="active">Cadastrar</a></li>
        <li><a routerLink="/perfil" routerLinkActive="active">Cliente</a></li>
        <li><a routerLink="/conta" routerLinkActive="active">Conta</a></li>
        <li><a routerLink="/dados-conta" routerLinkActive="active">Dados Conta</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>