a:link,
a {
  text-decoration: none !important;
}
.nav-wrapper {
  background: #020024;
}
button.btn.waves-effect.waves-light {
  background-color: #020024 !important;
}

h1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.grid-pedido {
  width: 800px;
  margin: 0 auto;
}
.table-top {
  background-color: #26a69a;
  font-weight: 600;
  border-radius: 0px;

  text-align: center;
}

tr > td {
  text-align: center;
  border-radius: 0px !important;
}

tr > td > input {
  width: 20%;
  text-align: center;
}

.form-group {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-retorno {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-group > .input-field {
  width: 500px;
}

.checkbox-submit {
  width: 500px;
}

.checkbox-submit > label {
  margin-right: 320px;
}
