
<div class="navbar-fixed" *ngIf="router.url != '/login'">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/home" class=""><img src="/assets/cap-logo.png" style="width: 170px; margin-top:10px; margin-left:30px"/></a>

      <ul id="nav-mobile" class="right" style="margin-right:30px">
        <li><a routerLink="/cliente" routerLinkActive="active">Cadastrar Cliente</a></li>
        <li><a routerLink="/perfil" routerLinkActive="active">Clientes</a></li>
        <li><a routerLink="/conta" routerLinkActive="active">Cadastrar Conta</a></li>
        <li><a routerLink="/dados-conta" routerLinkActive="active">Contas</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>