<form style= "width: 610px; margin: 0 auto; padding-top:30px;" #formConta = "ngForm" (ngSubmit)="onCadastrarConta(formConta)" novalidate>
  <h1>Cadastrar Conta</h1>
  <label for="hash" >Chave</label>
  <input type="text"  name="hash" #hash="ngModel" ngModel required><br>

  <label for="hash" >Cliente</label>
  <select [(ngModel)] = "clienteSelecionado" class="browser-default"  name="cliente">
    <option  required *ngFor="let item of conta;" [value]="item.cliente"> {{item.cliente}}</option>  
  </select>  <br>
  <p [hidden] = "!error" style="color: red;">
    {{ errorDesc }}
  </p> 
  <br>
  <button class="btn waves-effect waves-light" >Enviar        
  </button> 
  <br>

  
  
</form>  